

.container{
    display: flex;
    flex-direction: column;
    border-block-end-color: #333;
    border-block-end-style: groove;
    margin-top: 5%;
}

.date_details {
    display: flex;
    flex-direction: row;
}


